@charset "utf-8";
/*FULL 尺吋*/
/****************18/06/7後新增********************/
header .menu{position: absolute; left: 10px;top: 20px;}
header .logo {left: 70px;top: 20px;}

.navbar {z-index: 999;}

.navbar-nav2{background:#448C89;min-width:400px;height: 100%;overflow: auto;padding-bottom:30px;position:fixed;top:0;left: 0;z-index: 9999;transform: translateX(-100%);transition: all 0.8s}
.navbar-nav2 li{}
.navbar-nav2 li a{display: block;width: 100%;background:#448C89;color:#fff;border-bottom:1px solid #63ccc7;line-height: 2em;font-size: 17px;padding: 15px 30px;letter-spacing: 1px}
.navbar-nav2 li a:hover,.navbar-nav2 li a:focus{background:#3a3839;}
.menuClose {text-align: right;font-size: 14px !important}
.menuClose span{margin:0 20px}

.navbar-nav2.active{transform: translateX(0);transition: all 0.8s}

/****************18/06/7新增********************/


/****************21/03/17新增********************/
.avatar_temp{ display: none; }
.avatar[src=''] + .avatar_temp{ display: block; }
/****************21/03/17新增********************/

@media (max-width: 767px){
	
	header .logo {left: 20%; top: 0;z-index: 99999;}

}